body {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#loading-container {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
}

#loading-spinner {
  margin-bottom: 10px;
}
#loading-message {
  margin-top: 90px;
}

.page-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.data-select-bar {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  justify-content: center;
}
.map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  justify-content: center;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#source-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
#data-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#data {
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 22px;
}

#label {
  font-family: Arial, sans-serif;
  font-size: 22px;
}

#point-legend {
  vertical-align: middle;
}

#point-legend .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

#legend-box {
  position: fixed;
  display: inline-block;
  bottom: 15px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 2000;
  /* Add font styles */
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#choropleth-legend {
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 2000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 1.3;
}
#choropleth-legend i {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 1px;
  padding: 1px;
}
#info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 1000;
  display: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#cu-info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  pointer-events: none;
  display: none;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.point-layer {
  pointer-events: none;
}
.legend-button {
  display: block;
  margin: 0 auto;
  pointer-events: auto;
  float: right;
}

.toggle-button-container {
  position: absolute;
  top: 0px;
  z-index: 1000;
  left: 50%;
}
#toggleDataSelectorButton {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 0% 0% 75% 75%;
  border: 0.5px solid #ccc;
  color: #b4b3b5;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 2px;
  text-align: center;
  display: inline-block;
  font-size: 25px;

  cursor: pointer;
  pointer-events: auto;
}
#toggleDataSelectorButton:hover {
  color: #464546;
}

#toggleLegendButton {
  float: right;
  transform: rotate(45deg);
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  color: #b4b3b5;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  pointer-events: auto;
}
#toggleLegendButton:hover {
  background-color: #f3f0f1;
  color: #464546;
}

@media only screen and (max-width: 767px) {
  #choropleth-legend {
    background-color: rgba(255, 255, 255, 0.7);
  }

  #toggleDataSelectorButton {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .toggle-button-container {
    z-index: 3000;
  }
  #info-box {
    width: 60vw;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    pointer-events: none;
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  #cu-info-box {
    width: 60vw;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    pointer-events: none;
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 5px 5px 15px 0.0001px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
